<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>311</key>
	<dict>
		<key>Flowing</key>
		<dict>
			<key>Order</key>
			<array>
				<string>Intro</string>
			</array>
			<key>Tempo</key>
			<integer>92</integer>
			<key>Intro</key>
			<string>Flowing-Intro.mp3</string>
		</dict>
	</dict>
	<key>blink-182</key>
	<dict>
		<key>Stay Together</key>
		<dict>
			<key>Order</key>
			<array>
				<string>Verse 1</string>
				<string>Verse 2</string>
			</array>
			<key>Tempo</key>
			<integer>145</integer>
			<key>Verse 1</key>
			<string>StayTogether-Verse.mp3</string>
			<key>Verse 2</key>
			<string>StayTogether-Verse.mp3</string>
		</dict>
	</dict>
	<key>Linkin Park</key>
	<dict>
		<key>Faint</key>
		<dict>
			<key>Order</key>
			<array>
				<string>Intro</string>
				<string>Verse 1</string>
				<string>Verse 2</string>
				<string>Breakdown</string>
			</array>
			<key>Tempo</key>
			<integer>135</integer>
			<key>Intro</key>
			<string>Faint-Intro.mp3</string>
			<key>Verse 1</key>
			<string>Faint-Verse.mp3</string>
			<key>Verse 2</key>
			<string>Faint-Verse.mp3</string>
			<key>Breakdown</key>
			<string>Faint-Breakdown.mp3</string>
		</dict>
	</dict>
	<key>Paramore</key>
	<dict>
		<key>Misery Business</key>
		<dict>
			<key>Order</key>
			<array>
				<string>Intro</string>
			</array>
			<key>Tempo</key>
			<integer>172</integer>
			<key>Intro</key>
			<string>Misery-Intro.mp3</string>
		</dict>
	</dict>
</dict>
</plist>
